.App {
  background: linear-gradient(rgba(15, 13, 27, 0.65), rgba(15, 13, 27, 0.65)),
    url("../public/pexels-eberhard-grossgasteiger-844297.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
footer {
  font-size: 12px;
  background-color: white;
  color: #333333;
  text-align: center;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
