.Weather {
  color: white;
  margin: 0 auto;
}
.Weather img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.Weather .unit {
  font-size: 18px;
  position: relative;
  top: -46px;
  margin-left: 5px;
}
.Weather .temperature {
  font-size: 84px;
  font-weight: 700;
}
.Weather form {
  max-width: 1000px;
  margin: 0 auto;
}
.WeatherInfo {
  max-width: 1000px;
}
.WeatherInfo ul {
  list-style: none;
  opacity: 90%;
}
@media screen (min-width: 1000px) {
  .WeatherInfo {
    display: none;
  }
}
